body{
    /* margin: 10px;
    padding: 10px; */
    font-family: "Arial", Helvetica, sans-serif;
}

#toggleDark{
    font-size: 30px;
    cursor: pointer;
    position: left;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}
