*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242, 224, 227);

   
}

.row{
    background-color: white;
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color:white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background:  rgb(242, 224, 227);
    border: 1px solid;
    color: black;
}

.login_form #email_error,
.login_form #pass_error{
    margin-top: 5px;
    width: 317px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px, 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}
