    .pfoto {
             margin: 45px 45px 45px 45px;
             width: auto;
             height: 250px;
             border-radius: 25px;
             border: 1px solid white;
             transition: transform 0.25s;
}
  
    #kujdesi{
        text-align: center;
        font-style: italic;
        color:rgb(5, 28, 29);
        font-family: 'Lato',sans-serif;
      
    }