@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --primary-bg-color:rgb(242, 224, 227);
    --secondary-bg-color:rgb(216, 163, 216);
    --primary-text-color:rgb(213, 100, 241);
    --secondary-text-color:rgb(103, 10, 170);
}
* {
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all .2 linear;
}
html{
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    align-items: center;
    padding: 15px 5%;
    position: relative;
    top: 0%;
    width: 100%;
    background-color:#babafe;
    z-index: 1;
  }
  .logo {
    padding: 0;
  }
  #logoja {
    margin: auto;
    width: auto;
    height: 45px;
  }
  .nav_linqet {
    list-style: none;
    display: inline-flex;
    margin: auto;
  }
  .nav_linqet a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #f7f7f9;
    text-decoration: none;
  }
  .nav_linqet li {
    padding: 15px 20px;
  }
  .nav_linqet li a:hover {
    color: #100020;
    animation: bottomboder 0.5s;
    animation-play-state: running;
  }
  .sub-menu-1{
    display: none;
  }
  .sub-menu-1 ul{
    list-style: none;
  }
  .nav_linqet li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:#8078ce;
    margin-top: 15px;
    margin-left: 15px;
  }
.container{
    min-height:100vh;
    padding: 20px 9%;
    background:var( --primary-bg-color);
    padding-bottom: 80px;
}
.container .title{
    text-align: center;
    color:var(--primary-text-color);
    font-size: 50px;
    padding: 15px 0;
    text-transform: uppercase;
}
.container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .box-container .box{
    flex: 1 1 300px;
    text-align: center;
    background: var(--secondary-bg-color);
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    position:relative;
    overflow:hidden;
    z-index: 0;
}
.container .box-container .box i{
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background:rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: 10px 0;
    color:var(--primary-bg-color);
}
.container .box-container .box h3{
    font-size: 25px;
    color:var(--primary-bg-color);
}
.container .box-container .box p{
    font-size: 18px;
    color:var(--primary-text-color);
    padding: 5px;
}
.container .box-container .box .number{
    position: absolute;
    top: 5px;
    left: 15px;
    font-weight: bolder;
    color:floralwhite;
    font-size: 50px;
}